*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem is 10px
}

h1 {
    font-size: 1rem;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Open Sans";
    color: #808080;
}


@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';
@import 'details';

// AUTH

@import 'page-title';
@import 'form-fields';

// ACCOUNT

@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';

// SHOP
@import 'shop/shop';







